<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="none"/>
  </appSettings>
  <connectionStrings>
    <add name="WSKPSConnectionString" connectionString="Data Source=94.73.170.2;Initial Catalog=u0026274_online;Persist Security Info=True;User ID=u0026274_ders;Password=FMjj20J0PRlz28C"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.webServer>
    <urlCompression doStaticCompression="true" doDynamicCompression="true" />
  </system.webServer>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.5.2" />
    <pages enableEventValidation="false" validateRequest="false" enableViewStateMac="false" viewStateEncryptionMode="Never"/>
    <httpRuntime targetFramework="4.5.2"  executionTimeout="1200" maxRequestLength="51200"  />
  </system.web>
</configuration>